.main_container, .social_icons_container, .logo_and_tittle_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_container {
    height: 120px;
    background-color: #E5E5E5;
}

.social_icons_container img {
    height: 30px;
    width: auto;
}

.logo_container img {
    height: 100px;
    width: auto;
}


